apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-iris-workload
  labels:
    app: iris-api

spec:
  replicas: 3
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: demo-iris-workload
        image: us-central1-docker.pkg.dev/mlops-475608/my-repo/iris-api:latest
        ports:
        - containerPort: 8200
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"

---
apiVersion: v1
kind: Service
metadata:
  name: demo-iris-workload-service
  labels:
    app: iris-api

spec:
  type: LoadBalancer
  selector:
    app: iris-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8200
